[Desktop Entry]
Categories=Audio;Music;
Comment=
Exec=detectorbank-gui
GenericName=Visualize DetectorBank output
Icon=/home/keziah/projects/detectorbank-gui/images/icon.png
Name=DetectorBank GUI
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
