[Desktop Entry]
Categories=Audio;Music;AudioVideo;
Comment=
Exec=detectorbank-gui
GenericName=Visualize DetectorBank output
Icon=/path/here/images/icon.png
Name=DetectorBank GUI
NoDisplay=false
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
